<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.demo.dao.mysql.ZyUserMapper">
  <resultMap id="BaseResultMap" type="com.zy.demo.model.ZyUser">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_full_name" jdbcType="VARCHAR" property="userFullName" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
  </resultMap>
  <parameterMap id="baseCondMap" type="com.zy.demo.model.ZyUser">
    <parameter property="userId" jdbcType="BIGINT"/>
    <parameter property="userFullName" jdbcType="VARCHAR"/>
    <parameter property="loginName" jdbcType="VARCHAR"/>
    <parameter property="loginPwd" jdbcType="VARCHAR"/>
  </parameterMap>
  <sql id="Base_Column_List">
    user_id, user_full_name, login_name, login_pwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zy_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zy_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zy.demo.model.ZyUser">
    insert into zy_user (user_full_name, login_name, login_pwd)
    values (#{userFullName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR})
    <selectKey keyProperty="userId" keyColumn="user_id" order="AFTER" resultType="long">
      select LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.zy.demo.model.ZyUser" useGeneratedKeys="true">
    insert into zy_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userFullName != null">
        user_full_name,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="loginPwd != null">
        login_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userFullName != null">
        #{userFullName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        #{loginPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.demo.model.ZyUser">
    update zy_user
    <set>
      <if test="userFullName != null">
        user_full_name = #{userFullName,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null">
        login_pwd = #{loginPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.demo.model.ZyUser">
    update zy_user
    <trim prefix="set" suffixOverrides=",">
      user_full_name = #{userFullName,jdbcType=VARCHAR},
      login_name = #{loginName,jdbcType=VARCHAR},
      login_pwd = #{loginPwd,jdbcType=VARCHAR},
    </trim>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>

  <select id="selectByPaging" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zy_user
    <where>
      <if test="userFullName != null">
        and user_full_name = #{userFullName,jdbcType=VARCHAR}
      </if>
      <if test="loginName != null">
        and login_name = #{loginName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <insert id="insertOne" parameterMap="baseCondMap">
    insert into zy_user (user_id, user_full_name, login_name, login_pwd)
    values (#{userId,jdbcType=BIGINT}, #{userFullName,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatch">
    insert into zy_user (user_id, user_full_name, login_name, login_pwd)
    values 
    <foreach collection="list" item="user" separator=",">
      (#{user.userId,jdbcType=BIGINT}, #{user.userFullName,jdbcType=VARCHAR}, #{user.loginName,jdbcType=VARCHAR}, #{user.loginPwd,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="selectByIndex" resultMap="BaseResultMap">
    <bind name="attr" value="'%' + param1 + '%'"/>
    select
    <include refid="Base_Column_List" />
    from zy_user
    <where>
      and user_full_name like #{attr}
      and login_name = #{param2}
    </where>
  </select>

  <select id="selectByMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zy_user
    <where>
      <choose>
        <when test="userFullName != null and userFullName != ''">
          and user_full_name = #{userFullName}
        </when>
        <when test="loginName != null and loginName != ''">
          and login_name = #{loginName}
        </when>
        <otherwise>
          and 1 = 1
        </otherwise>
      </choose>
    </where>
  </select>
</mapper>