<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.demo.dao.mysql.ZyUserIdCardMapper">
  <resultMap id="BaseResultMap" type="com.zy.demo.model.ZyUserIdCard">
    <id column="card_id" jdbcType="BIGINT" property="cardId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
  </resultMap>
  <sql id="Base_Column_List">
    card_id, user_id, id_card_no
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zy_user_id_card
    where card_id = #{cardId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zy_user_id_card
    where card_id = #{cardId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="card_id" keyProperty="cardId" parameterType="com.zy.demo.model.ZyUserIdCard" useGeneratedKeys="true">
    insert into zy_user_id_card (user_id, id_card_no)
    values (#{userId,jdbcType=BIGINT}, #{idCardNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="card_id" keyProperty="cardId" parameterType="com.zy.demo.model.ZyUserIdCard" useGeneratedKeys="true">
    insert into zy_user_id_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        card_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="idCardNo != null">
        id_card_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        #{cardId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="idCardNo != null">
        #{idCardNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.demo.model.ZyUserIdCard">
    update zy_user_id_card
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="idCardNo != null">
        id_card_no = #{idCardNo,jdbcType=VARCHAR},
      </if>
    </set>
    where card_id = #{cardId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.demo.model.ZyUserIdCard">
    update zy_user_id_card
    set user_id = #{userId,jdbcType=BIGINT},
      id_card_no = #{idCardNo,jdbcType=VARCHAR}
    where card_id = #{cardId,jdbcType=BIGINT}
  </update>

  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zy_user_id_card
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
</mapper>